<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>О проекте</title>
</head>
<body>

<header>

    <div class="logo">
        <a href="/"><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Письма мастера дзен"></a>
    </div>
    <div>
        <a class="aboutbut" href="/about">О проекте</a>
        <a class="helpbut" href="/donate">Поддержать проект</a>
    </div>
</header>
<div>
   <a class="ps5maintext">Наличие</a> <a class="ps5colortext">PlayStation 5 </a>

</div>
<a href="https://www.dns-shop.ru/product/2ed835a12b9d3332/igrovaa-konsol-playstation-5/"><div  class="block1">
    <h1 class="notavailable">Нет в наличии</h1>
     <h1 class="lastchange">Последнее изменение:</h1>
    <h1 class="timechange">23:35:45 27.11.2020</h1>
    <a href="https://www.dns-shop.ru/product/2ed835a12b9d3332/igrovaa-konsol-playstation-5/"><img class="dnslogo" src="{{ url_for('static', filename='img/dnslogo.png') }}"></a>
</div></a>
</div>
<a href="https://www.mvideo.ru/playstation-4327/ps5-konsoli-8627/f/category=sony-playstation-5-ps5-8628"><div class="block2">
    <h1 class="available">Есть в наличии</h1>
     <h1 class="lastchange">Последнее изменение:</h1>
    <h1 class="timechange">23:35:45 27.11.2020</h1>
    <a href="https://www.mvideo.ru/playstation-4327/ps5-konsoli-8627/f/category=sony-playstation-5-ps5-8628"><img class="mvideologo" src="{{ url_for('static', filename='img/mvideologo.png') }}"></a>
</div></a>
</div>
<a href="https://www.eldorado.ru/cat/detail/igrovaya-pristavka-sony-playstation-5/"><div class="block3">
    <h1 class="notavailable">Нет в наличии</h1>
     <h1 class="lastchange">Последнее изменение:</h1>
    <h1 class="timechange">23:35:45 27.11.2020</h1>
    <a href="https://www.eldorado.ru/cat/detail/igrovaya-pristavka-sony-playstation-5/"><img class="eldlogo" src="{{ url_for('static', filename='img/eldlogo.png') }}"></a>
</div></a>
</div>
<a href="https://www.citilink.ru/promo/ps5/"><div class="block4">
    <h1 class="available">Есть в наличии</h1>
    <h1 class="lastchange">Последнее изменение:</h1>
    <h1 class="timechange">23:35:45 27.11.2020</h1>
    <a href="https://www.citilink.ru/promo/ps5/"><img class="citylogo" src="{{ url_for('static', filename='img/citylogo.jpg') }}"></a>
</div>
    </div></a>
<a href="https://www.1c-interes.ru/catalog/30033950/"><div class="block5">
    <h1 class="notavailable">Нет в наличии</h1>
     <h1 class="lastchange">Последнее изменение:</h1>
    <h1 class="timechange">23:35:45 27.11.2020</h1>
    <a href="https://www.1c-interes.ru/catalog/30033950/"><img class="oneclogo" src="{{ url_for('static', filename='img/oneclogo.jpg') }}"></a>


</div></a>

<a><img class="ps5contr" src="{{ url_for('static', filename='img/ps5contr.jpg') }}"></a>

<div class="footer">

</div>


</body>
</html>